<section class="section">
  <div class="form-div">
    <h2>Ingresa al sistema SIAU para gestionar.</h2>
        <form (submit)="login($event)">
            <div class="mb-3">
              <label for="username" class="form-label">Nombre de usuario</label>
              <input type="text" class="form-control" name="username" [(ngModel)]="username" id="username" aria-describedby="username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Ingresar a SIAU</button>
          </form>
          <div *ngIf="errorMessage" class="errorMessageClass messagesStatus">
            <p>{{errorMessage}}</p>
          </div>
          <div *ngIf="successfullMessage" class="successfullMessageClass messagesStatus">
            <p>{{successfullMessage}}</p>
          </div>
    </div>
    <div class="img-SIAU">
    </div>
</section>